<h1>Welcome!</h1>
<div class="container">
    Welcome, {{name}}! You can manage your todos <a routerLink = "/todos">here</a>
</div>
<div class="container">
    <button (click) = "getWelcomeMessageWithParameter()" class="btn btn-success">Get Welcome Message</button>
</div>

<div class="container" *ngIf="welcomeMessageFromService">
    <h2>Your Customized Welcome Message</h2>
    {{welcomeMessageFromService}}
</div>