<h1>Login!</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>

    <div>
        Username: <input type="text" name="username" [(ngModel)]="username">
    </div>
    Password: <input type="password" name="password" [(ngModel)]="password">

    <!-- Username : {{username}} -->

    <!-- <button (click)=handleLogin() class="btn btn-success">Login</button> -->
    <!-- <button (click)=handleBasicAuthLogin() class="btn btn-success">Login</button> -->
    <button (click)=handleJWTAuthLogin() class="btn btn-success">Login</button>

</div>